<div class="col-md-4">
  <div style="text-align:center" class="panel panel-primary">
    <div class="panel-heading">
      <h1 class="panel-title text-center">{{description}}</h1>
    </div>
    <div class="panel-body">
      <ul class="list-group">
        <li ng-repeat="todo in todoList" class="list-group-item todo-item" ng-class="{done: todo.done}" ng-show="todo.tag == filterTagValue" >
        <form name="editTodoForm" editable-form onshow="disableButtons()" onhide="enableButtons()" onaftersave="onItemSave({todo:todo})"
              e-style="width: 400px">
          <a href="#" editable-text="todo.text" ng-click="editTodoForm.$show()" e-name="textInput" e-placeholder="Name" e-required>{{todo.text}}</a>

          <a href="#" editable-bsdate="todo.date" onshow="openPicker()" onhide="closePicker()" e-is-open="picker.opened" ng-click="picker.opened=true"
             e-style="width: 140px" e-datepicker-popup="yyyy-MM-dd" e-format-month="MM" e-format-day-title="MM yyyy"></a>
          <button type="submit" ng-show="editTodoForm.$visible" ng-disabled="!todo.text.length" class="btn btn-primary">save</button>
          <button type="button" ng-show="editTodoForm.$visible" ng-click="editTodoForm.$cancel()" class="btn">cancel</button>

          <a href="#" ng-click="onItemRemove({todo:todo})" class="pull-right">
            <span class="glyphicon glyphicon-trash text-danger"></span>
          </a>
          <a href="#" ng-click="onDone({todo:todo})" class="pull-right done" ng-hide="todo.done">
            <span class="glyphicon glyphicon-ok text-success"></span>
          </a>
        </form>
        </li>

      </ul>
    </div>
  </div>
</div>

