<input type="text" name="date" class="form-control" datepicker-popup="{{dateFormat}}" ng-model="date"
       is-open="popupOpened" close-text="Close"/>
<span class="input-group-btn">
  <button type="button" class="btn btn-default" ng-click="openPopup($event)">
    <i class="glyphicon glyphicon-calendar"></i></button>
</span>
