<div ng-include="'components/navbar/navbar.html'"></div>

<div class="col-md-12">
  <div class="panel panel-default">
    <div class="panel-body bg-info">
      <form ng-submit="add()" name="addForm" class="form-inline">
        <div class="form-group" ng-class="{'has-error': (addForm.text.$dirty && addForm.text.$invalid)}">
          <label class="sr-only" for="text">New TODO:</label>
          <input type="text" name="text" ng-model="newTodo.text" required class="form-control todo-text"
                 placeholder="New TODO"/>
        </div>

        <div class="form-group">
          <label class="sr-only" for="new-todo-date">Date:</label>
          <date-field class="input-group date" ng-model="newTodo.date"/>
        </div>


        <button type="submit" class="btn btn-primary btn-sm" ng-hide="(addForm.text.$dirty && addForm.text.$error.required) || !newTodo.text.length" ng-disabled="isDisabled">Add</button>
      </form>

      <div class="validation-summary" ng-hide="!((addForm.text.$dirty && addForm.text.$error.required) || !newTodo.text.length)">
        Text is required.
      </div>

    </div>
    <div class="panel-body bg-info">
      <form ng-submit="removeFinished()" name="addForm" class="form-inline">
        <button type="submit" class="btn btn-primary btn-sm">Remove Finished</button>
      </form>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row equal">
      <panel description="Dneska" todo-list="todoList" on-done="done(todo)" filter-tag-value="today" on-item-remove="remove(todo)" on-item-save="updateTodo(todo)" "></panel>
      <panel description="Zítra" todo-list="todoList" on-done="done(todo)" filter-tag-value="tomorrow" on-item-remove="remove(todo)" on-item-save="updateTodo(todo)" "></panel>
      <panel description="Nekdy" todo-list="todoList" on-done="done(todo)" filter-tag-value="never" on-item-remove="remove(todo)" on-item-save="updateTodo(todo)" "></panel>
    </div>
  </div>


</div>
